<span class="title ml-2 pt-1 text-muted">Livefeed</span>

<div class="btn-group btn-group-sm ml-2" role="group" aria-label="Basic example">
  <button class="btn btn-secondary" (click)="sendMessage('😃')">😃</button>
  <button class="btn btn-secondary" (click)="sendMessage('🌟')">🌟</button>
  <button class="btn btn-secondary" (click)="sendMessage('👍')">👍</button>
  <button class="btn btn-secondary" (click)="sendMessage('👌')">👌</button>
  <button class="btn btn-secondary" (click)="sendMessage('🎶')">🎶</button>
  <button class="btn btn-secondary" (click)="sendMessage('🎧')">🎧</button>
  <button class="btn btn-secondary" (click)="sendMessage('🎤')">🎤</button>
</div>

<div class="list-group feed" #feed>
  <div class="list-group-item list-group-item-action justify-content-between" *ngFor="let message of messages$ | async">
    <h6 class="">{{message.title}}</h6>
    <p class="">
      <span>{{message.description}}</span>
    </p>
  </div>
</div>
